@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
a {
    text-decoration: none;
    color:white;
    &:hover {
        color: rgb(66, 0, 159)

    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Переменные для блока
$minWidth: 320px;
$maxWidth: 1280px;
$maxWidthCon: 1280px;
$md1: $maxWidthCon;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

// Переменные для Цвета
$black: #212121;
$white: #ffffff;
$main: #1c4ea4;
$grey: #aeaeae;
$footer: #03313b;
$orange: #ffb202;

// КОНТЕЙНЕР
._container {
  max-width: $maxWidthCon;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: $md1) {
    max-width: 970px;
  }
  @media (max-width: $md2) {
    max-width: 750px;
  }
  @media (max-width: $md3) {
    max-width: none;
    padding: 0 10px;
  }
}

.main {
    font-family: "Montserrat", sans-serif;
    background-image: url("./img/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh; 

}

.main-logo img {
  width: 160px;
  height: auto;
  margin-top: 40px;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: $white;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: $white;

}



/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: $white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: $white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}




@media (min-width: 768px) {
  .menu {
    max-height: none !important;
    display: flex;
  }

  .menu-icon {
    display: none;
  }
}

.menu {
  display: flex;
  gap: 20px;
}