@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(127, 69, 207);
}

._container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1280px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.main {
  font-family: "Montserrat", sans-serif;
  background-image: url("./img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 110vh;
}

.main-logo img {
  width: 150px;
  height: 95px;
  margin-top: 20px;
}

.menu ul {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 15px;
}
@media (max-width: 991.98px) {
  .menu ul {
    display: none;
  }
}

.menu li {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
}
@media (max-width: 991.98px) {
  .hamburger {
    display: flex;
  }
}

.popup-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.popup-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.popup-menu ul li a {
  color: white;
  font-size: 24px;
  text-align: center;
}
.popup-menu ul li a:hover {
  color: #1c4ea4;
}
.popup-menu .popup-header {
  position: absolute;
  top: 20px;
  right: 30px;
}
.popup-menu .close-popup {
  font-size: 40px;
  color: white;
  cursor: pointer;
}
.popup-menu .close-popup:hover {
  color: #1c4ea4;
}
.popup-menu.active {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-partner {
  border: #ffffff;
}

.btn-partner button {
  background-color: transparent;
  border: 2px solid #dadada;
  color: #ffffff;
  border-radius: 5px;
  width: 120px;
  height: 45px;
  font-size: 12px;
  align-self: center;
}
@media (max-width: 991.98px) {
  .btn-partner button {
    display: none;
  }
}

.main-btn {
  display: flex;
  gap: 10px;
}

.btn-partner button:hover {
  background-color: #dadada;
  color: rgb(4, 4, 147);
}

.btn-ticket button {
  border-radius: 5px;
  background-color: #ffbb00;
  border: 2px solid #ffbb00;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 300px;
  width: 180px;
  height: 45px;
  font-size: 15px;
}
@media (max-width: 991.98px) {
  .btn-ticket button {
    display: none;
  }
}

.main-row {
  display: flex;
  gap: 20px;
  align-items: center;
}

.lang {
  display: flex;
  align-items: center;
  background-color: transparent;
}
@media (max-width: 991.98px) {
  .lang {
    display: none;
  }
}

.lang select {
  background-color: transparent;
  color: #ffffff;
  font-size: 15px;
}

.main_title {
  margin-top: 140px;
}
@media (max-width: 767.98px) {
  .main_title {
    margin-top: 120px;
  }
}

.main_title h1 {
  color: #ffffff;
  font-size: 58px;
}
@media (max-width: 767.98px) {
  .main_title h1 {
    font-size: 27px;
    width: 450px;
  }
}

.main_subtitle p {
  color: #ffffff;
  font-size: 20px;
}
@media (max-width: 767.98px) {
  .main_subtitle p {
    font-size: 18px;
  }
}

.main-info {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
}
@media (max-width: 767.98px) {
  .main-info {
    width: 450px;
  }
}

.main_date {
  color: #ffffff;
  font-size: 22px;
}

.main_pipe {
  border-left: 2px solid #ffffff;
  height: 50px;
  margin-left: 20px;
  margin-top: -10px;
}

.main_city {
  color: #ffffff;
  font-size: 22px;
  margin-left: 20px;
}

.main_loc {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
@media (max-width: 767.98px) {
  .main_loc {
    width: 500px;
  }
}

.loc-img img {
  height: 20px;
  width: 20px;
}

.loc {
  font-size: 14px;
}

.loc a:hover {
  color: #aeaeae;
}

.main-button button {
  background-color: transparent;
  border: 1px solid #ffb202;
  color: #ffb202;
  padding: 25px 103px;
  margin-top: 55px;
  font-size: 22px;
  border-radius: 20px;
}

.main-button button:hover {
  background-color: #ffb202;
  color: whitesmoke;
}

.main_flag img {
  height: 87px;
  width: auto;
  display: flex;
}
@media (max-width: 1280px) {
  .main_flag img {
    height: 60px;
  }
}
@media (max-width: 991.98px) {
  .main_flag img {
    height: 87px;
    width: 143px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .main_flag img {
    height: 43px;
    width: auto;
  }
}

.main_flag {
  display: flex;
  margin-top: 50px;
  gap: 10px;
  margin-bottom: 40px;
}
@media (max-width: 991.98px) {
  .main_flag {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

.forum {
  font-family: "Montserrat", sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 110vh;
  background-color: rgba(6, 1, 84, 0.788);
}/*# sourceMappingURL=style.css.map */